<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../bevy_transform/components/struct.GlobalTransform.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../bevy_transform/components/struct.GlobalTransform.html">../../../bevy_transform/components/struct.GlobalTransform.html</a>...</p>
    <script>location.replace("../../../bevy_transform/components/struct.GlobalTransform.html" + location.search + location.hash);</script>
</body>
</html>