(
    basis: (
        speed: 10.0,
        float_height: 1.5,
        headroom: None,
        cling_distance: 1.0,
        spring_strength: 400.0,
        spring_dampening: 1.2,
        acceleration: 60.0,
        air_acceleration: 20.0,
        coyote_time: 30.15,
        free_fall_extra_gravity: 60.0,
        tilt_offset_angvel: 5.0,
        tilt_offset_angacl: 500.0,
        turning_angvel: 10.0,
        max_slope: 1.5707964,
    ),
    jump: (
        height: 4.0,
        upslope_extra_gravity: 30.0,
        takeoff_extra_gravity: 30.0,
        takeoff_above_velocity: 2.0,
        fall_extra_gravity: 20.0,
        shorten_extra_gravity: 60.0,
        peak_prevention_at_upward_velocity: 1.0,
        peak_prevention_extra_gravity: 20.0,
        reschedule_cooldown: None,
        input_buffer_time: 0.2,
        disable_force_forward_after_peak: true,
    ),
)
