<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../bevy_render/view/visibility/struct.RenderLayers.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../bevy_render/view/visibility/struct.RenderLayers.html">../../../../bevy_render/view/visibility/struct.RenderLayers.html</a>...</p>
    <script>location.replace("../../../../bevy_render/view/visibility/struct.RenderLayers.html" + location.search + location.hash);</script>
</body>
</html>